
/**** Global Styles  ****/

#movieTable {
  margin-top: 100px;
}

.panel.panel-primary{
    background-color: rgba(16,16,16,.4);
}

.panel-default{
    background: rgba(16,16,16,.6);
    border-color: #101010;
}
.panel-default .panel-heading{
    background: #101010;
    color: white;
}
.panel-default .panel-body{
    background-color: rgba(16,16,16,.4);
    color: snow;
}

.container-fluid {
  color: snow;
}

.thumbnail {
  background-color: #101010;
  border-color: #101010;
}
.thumbnail .caption {
  color: snow;
}

hr {
    margin-top: 100px;
    }

.h2, h2 {
    text-align: center;
   }

 .progress {
  border: 1px solid black;
 }

 .btn-default {
  background-color: #337ab7;
  color: snow;
 }

.col-sm-4 {
    background-color: #101010;
    border-radius: 12px;
}
p {
  text-align: center;
}

  /* Navbar */
  .navbar-form {
      border-color: black;
      background-color: #101010;
     }
  .navbar-inverse {
      background-color: #101010;
      border-color: black;
  }
  a#submitButton{
    border:1px solid #0089f5;
    color: #0089f5;
    background-color: #101010;
  }

  a#submitButton:hover{
    border:1px solid #0089f5;
    color: #0089f5;
    text-shadow: 1px snow;
    background-color: #282d38; 
  }
#movies-view {
    border: #282d38;
}

#movieDivTitle {
  color: white;
  font-size: 50px;
}

 body {

      background-color: #282d38;
  }
    /* Add a gray background color and some padding to the footer */
 footer {
      background-color: #101010;
      padding: 25px;
    }
 #movies-view{
      width: 500px;
      max-height:550px;
    }
 .btn{
      margin:2px;
      border: 1px solid black;
    }
 .side{
      display: inline-grid;
      float: right;
      margin: 10px;
    }
 .main-content{
      margin: 10px;
    }
 .panel-heading{
    font-size: 15px;
    font-weight:bold;

    }
 img{
      margin: 2px;
      border-radius: 5px;
    }

 .btn-warning {
    background-color: #5cb85c;
}

.logo {
    margin: 2px;
    border-radius: 5px;
    height: 55px;
    width: 55px;
    margin-top: -15px;
}

/**** Firebase Table Styling ****/

    /* Stars */
/*    .fa-star {
      color: yellow;
    }

    .fa {
      font-size: 20px;
      padding-left: 15px;
    }
*/
  /* Table Margins */
  #movieTable, #recentSearchResults {
    margin-bottom: 20px;
  }

  .well-lg {
      padding: 18px;
      border-radius: 0px;
}

/**** Cursors ****/

.movieTitleSearch:hover, .databaseMovieTitle:hover {
  cursor:pointer;
}

.movieTitleSearch {
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.movieTitleSearch:hover {
  transform: scale(1.05);
  transition: transform .25s;
}

.playbutton {
    height: 60px;
    width: 60px;
    position: absolute;
    z-index: 1;
    left: 40%;
    top: -100%;
    opacity: .7;
}

.popular {
  position: relative;
}

.panel-primary>.panel-heading {
    color: #0089f5;
    background-color: #101010;
    border-color: #337ab7;
  }

.container {
color: lightgrey;